<div class="container-fluid position-absolute">
  <div class="container "> </div>
  <h1>Tomas</h1>
  <p>
  Ya estoy por llegar !!!!
  Te espero para festejar junto a mi familia el 10 de Julio de 2022 a las 16 hs en 
  Circulo Policial Mendoza,  acá abajo te dejo la dirección:
  </p>
  <div class="boton">

  </div >
  <div class="text-center">
    <button  type="button" class="btn btn-primary btn-sm text-center" role="link"  onclick="window.location='https://goo.gl/maps/7ZRT5ozpi3sNykFx8'">Direccion</button>
  </div>
  
  
</div>